Repository foxglove/studio, pull requests merged in 2023-07, with the labels that each got.

#6351 Limit text width in cells in table panel
  packages/studio-base/src/panels/Table/Table.tsx
  packages/studio-base/src/panels/Table/index.stories.tsx
Labels: ux

#6445 Fix & update yuyv/uyvy encodings
  packages/den/image/decodings.ts
  packages/studio-base/src/panels/ThreeDeeRender/renderables/Images/decodeImage.ts
  packages/studio-base/src/panels/ThreeDeeRender/stories/ImageMode/ImageMode.stories.tsx
Labels: docs

#6420 Use currentFrame messages in low memory conditions in plot panel
  packages/studio-base/src/panels/Plot/PlotChart.tsx
  packages/studio-base/src/panels/Plot/PlotLegend.tsx
  packages/studio-base/src/panels/Plot/PlotLegendRow.tsx
  packages/studio-base/src/panels/Plot/csv.ts
  packages/studio-base/src/panels/Plot/datasets.tsx
  packages/studio-base/src/panels/Plot/index.tsx
  packages/studio-base/src/panels/Plot/internalTypes.ts
  packages/studio-base/src/panels/Plot/maps.test.ts
  packages/studio-base/src/panels/Plot/maps.ts
  packages/studio-base/src/panels/Plot/messageProcessing.ts
  packages/studio-base/src/panels/Plot/plotData.ts
  packages/studio-base/src/panels/Plot/transformPlotRange.ts
  packages/studio-base/src/panels/Plot/useAllFramesByTopic.test.tsx
  packages/studio-base/src/panels/Plot/useAllFramesByTopic.ts
  packages/studio-base/src/panels/Plot/usePlotPanelData.test.tsx
  packages/studio-base/src/panels/Plot/usePlotPanelData.ts
Labels: tech debt, ux, panel: plot

#6376 Expose foxglove schemas to user scripts
  packages/studio-base/src/panels/NodePlayground/Editor.tsx
  packages/studio-base/src/panels/NodePlayground/Sidebar.tsx
  packages/studio-base/src/panels/NodePlayground/index.stories.tsx
  packages/studio-base/src/players/UserNodePlayer/nodeTransformerWorker/transform.test.ts
  packages/studio-base/src/players/UserNodePlayer/nodeTransformerWorker/transform.ts
  packages/studio-base/src/players/UserNodePlayer/nodeTransformerWorker/typescript/ast.ts
  packages/studio-base/src/players/UserNodePlayer/nodeTransformerWorker/typescript/projectConfig.ts
  packages/studio-base/src/players/UserNodePlayer/nodeTransformerWorker/typescript/types.ts
Labels: ux, docs, panel: user scripts
